<ng-container>
    <form [formGroup]="BucketItem">
      <mat-grid-list cols="4">
        <mat-grid-tile >
          <mat-form-field>
            <mat-label>Name of BucketItem </mat-label>
            <input formControlName="nameOfBucketItem" matInput class="input-Text">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>photosLink </mat-label>
            <input formControlName="photosLink" matInput class="input-Text">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-label>Is Completed </mat-label>
          <mat-checkbox (change)="setComplete($event.checked)"></mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button (click)="postBucketItem()">Post</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
    
    <table mat-table [dataSource]="pendingDataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.nameOfBucketItem}} </td>
      </ng-container> 
      <!-- Weight Column -->
      <ng-container matColumnDef="isComplete">
        <th mat-header-cell *matHeaderCellDef> Completed </th>
        <td mat-cell *matCellDef="let element"> {{element.isComplete==='true'?'completed':'Not Completed'}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="photosLink">
        <th mat-header-cell *matHeaderCellDef> photosLink </th>
        <td mat-cell *matCellDef="let element"> {{element.photosLink}} </td>
      </ng-container>
      <!-- Symbol Column -->
    
      <ng-container matColumnDef="actionsColumn">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element let rowIndex=index" >
          <mat-icon (click)="updatebucketList(element,rowIndex)">create</mat-icon>
          <mat-icon (click)="deletePendingData(element,rowIndex)">delete</mat-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </ng-container>